@import "./sass/colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    background-color: $primary;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 90vh;
    
    button {
        border: none;
        background-color:$rose;
        padding: 15px 30px;
        /* color: $white; */
        border-radius: 5px;
        cursor: pointer;
    }
}